.kaufman__triangle {
  height: 877px;
  width: 877px;
  position: absolute;
  background-image: url(../../../images/kaufman-triangle.svg);
  right: -210px;
  top: 0;
  background-size: cover;
  z-index: 1;
  animation: rotation 20s linear infinite alternate;
}
